#hvzoom_img_container_main {
  text-align: center;
  background-color: rgba(0,0,0,0.75);
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

#hvzoom_img_container_caption {
  width: 100%; left: 0;
  bottom: 0;
  padding: 3px;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  box-sizing: border-box;
  word-wrap: break-word;
}

#hvzoom_img_album_index {
  top: 0px; left: 0px;
  padding: 2px;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  box-sizing: border-box;
}

#hvzoom_img_container_image {
  height: 100%; top: 0;
  width: 100%; left: 0;
}

#hvzoom_img_container_video {
  height: 100%; top: 0;
  width: 100%; left: 0;
}
